body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100%
}
@import '~antd/es/style/themes/default.less',  .body {
  width: 100%;
  min-height: 100vh;
  background-color: @grey-5;
}
.scrollContent {
  overflow: auto;
  height: 100%;
  padding: 10px;
  margin: 5px;
}
.mainContent {
  height: calc(100% - 64px);
  overflow: hidden;
}

.header {
	background-color: #001529;
  display: flex;
  flex: 1;
  padding: 0 24px;
  position: relative;
  top: 0;
}
.innerHeader {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  margin: auto;
  height: 64px;
  text-align: left;
  justify-content: space-between;
}
.topHeaderLogo {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
@import '~antd/es/style/themes/default.less', .sideNav {
  height: 100%;
  background: @grey-5 !important;
  background-color: @grey-5 !important;
}
